@import 'tailwindcss';

/* @config '../../tailwind.config.js'; */

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@theme {
  --text-2xs: 0.7rem;
  --text-2xs--line-height: 0.95rem;
  --text-3xs: 0.575rem;
  --text-3xs--line-height: 0.8rem;
  --text-4xs: 0.45rem;
  --text-4xs--line-height: 0.5rem;
  --text-5xs: 0.325rem;
  --text-5xs--line-height: 0.45rem;
  --text-6xs: 0.2rem;
  --text-6xs--line-height: 0.3rem;
  --text-7xs: 0.075rem;
  --text-7xs--line-height: 0.11rem;
  /* Breakpoints */
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 128rem;
  --breakpoint-5xl: 160rem;
  --breakpoint-6xl: 240rem;
  --breakpoint-7xl: 256rem;

  /* Custom colors */
  --color-grad-LinkBg-1 : var(--clr-grad-LinkBg-1);
  --color-grad-LinkBg-2 : var(--clr-grad-LinkBg-2);
  --color-grad-LinkBg-3 : var(--clr-grad-LinkBg-3);
  --color-grad-LinkBg-4 : var(--clr-grad-LinkBg-4);
  --color-grad-LinkBg-5 : var(--clr-grad-LinkBg-5);
  
  --color-grad-LinkMain-1: var(--clr-grad-LinkMain-1);
  --color-grad-LinkMain-2: var(--clr-grad-LinkMain-2);
  --color-grad-LinkMain-3: var(--clr-grad-LinkMain-3);
  --color-grad-LinkMain-4: var(--clr-grad-LinkMain-4);
  --color-grad-LinkMain-5: var(--clr-grad-LinkMain-5);

  --color-grad-Link-1: var(--clr-grad-Link-1);
  --color-grad-Link-2: var(--clr-grad-Link-2);
  --color-grad-Link-3: var(--clr-grad-Link-3);
  --color-grad-Link-4: var(--clr-grad-Link-4);
  --color-grad-Link-5: var(--clr-grad-Link-5);

  --color-grad-MainBg-1: var(--clr-grad-MainBg-1);
  --color-grad-MainBg-2: var(--clr-grad-MainBg-2);
  --color-grad-MainBg-3: var(--clr-grad-MainBg-3);
  --color-grad-MainBg-4: var(--clr-grad-MainBg-4);
  --color-grad-MainBg-5: var(--clr-grad-MainBg-5);
  
  --color-ana-A-1 : var(--clr-ana-A-1);
  --color-ana-A-2 : var(--clr-ana-A-2);
  --color-ana-A-3 : var(--clr-ana-A-3);
  --color-ana-A-4 : var(--clr-ana-A-4);
  --color-ana-A-5 : var(--clr-ana-A-5);

  --color-ana-B-1 : var(--clr-ana-B-1);
  --color-ana-B-2 : var(--clr-ana-B-2);
  --color-ana-B-3 : var(--clr-ana-B-3);
  --color-ana-B-4 : var(--clr-ana-B-4);
  --color-ana-B-5 : var(--clr-ana-B-5);
  
  --color-ana-C-1 : var(--clr-ana-C-1);
  --color-ana-C-2 : var(--clr-ana-C-2);
  --color-ana-C-3 : var(--clr-ana-C-3);
  --color-ana-C-4 : var(--clr-ana-C-4);
  --color-ana-C-5 : var(--clr-ana-C-5);

  --color-opp-Link-1 : var(--clr-opp-Link-1);
  --color-opp-Link-2 : var(--clr-opp-Link-2);
  --color-opp-Link-3 : var(--clr-opp-Link-3);
  --color-opp-Link-4 : var(--clr-opp-Link-4);
  --color-opp-Link-5 : var(--clr-opp-Link-5);

  --color-des-Link-1 : var(--clr-des-Link-1);
  --color-des-Link-2 : var(--clr-des-Link-2);

  --color-mix-LinkBg-1 : var(--clr-mix-LinkBg-1);
  --color-mix-LinkBg-2 : var(--clr-mix-LinkBg-2);
  --color-mix-LinkBg-3 : var(--clr-mix-LinkBg-3);
  --color-mix-LinkBg-4 : var(--clr-mix-LinkBg-4);
  --color-mix-LinkBg-5 : var(--clr-mix-LinkBg-5);

  --color-mix-LinkMain-1 : var(--clr-mix-LinkMain-1);
  --color-mix-LinkMain-2 : var(--clr-mix-LinkMain-2);
  --color-mix-LinkMain-3 : var(--clr-mix-LinkMain-3);
  --color-mix-LinkMain-4 : var(--clr-mix-LinkMain-4);
  --color-mix-LinkMain-5 : var(--clr-mix-LinkMain-5);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility iborder-3x {
  @apply border-transparent rounded-3xl;
}

@utility iborder-2x {
  @apply border-transparent rounded-2xl;
}

@utility ibg-linear {
    @apply bg-linear-to-b from-grad-LinkBg-4 to-grad-LinkBg-2
}

@utility ibg-radial {
    @apply bg-radial from-grad-LinkBg-4 to-grad-LinkBg-2
}

@utility bg-outer-box {
    @apply  bg-mix-LinkBg-2/60
}

@utility bg-outer-boxB {
    @apply  bg-grad-LinkBg-2/75
}

@utility bg-outer-boxC {
    @apply  bg-ana-A-2/45
}

@utility bg-outer-boxD {
    @apply  bg-des-Link-2/50
}

@utility bg-outer-boxE {
    @apply  bg-ana-A-4/25
}

@utility bg-inner-box {
    @apply bg-grad-MainBg-3/100
}

@utility bg-inner-boxB {
    @apply  bg-grad-MainBg-3/75
}

@utility bg-inner-boxC {
    @apply  bg-grad-MainBg-2/50
}

@utility bg-inner-boxD {
    @apply  bg-mix-LinkBg-3/75
}

@utility bg-inner-boxE {
    @apply  bg-opp-Link-5/30
}

/* Text utilities */

@utility text-section {
  @apply text-6xl 5xl:text-5xl 6xl:text-4xl;
}

@utility text-subsection {
  @apply text-5xl 5xl:text-4xl 6xl:text-3xl;
}

@utility text-body {
  @apply text-2xl md:text-lg lg:text-base xl:text-sm 2xl:text-xs 3xl:text-2xs 5xl:text-3xs 6xl:text-4xs;
}

@utility text-body-md {
  @apply text-2xl md:text-xl lg:text-lg xl:text-base 2xl:text-sm 3xl:text-xs 5xl:text-2xs 6xl:text-3xs;
}

@utility text-body-lg {
  @apply text-3xl md:text-2xl lg:text-xl xl:text-lg 2xl:text-base 3xl:text-sm 5xl:text-2xs 6xl:text-3xs;
}

@utility text-body-sm {
  @apply text-xl md:text-base lg:text-sm xl:text-xs 2xl:text-3xs 3xl:text-3xs 5xl:text-4xs 6xl:text-5xs;
}

@utility text-body-xs {
  @apply text-lg md:text-sm lg:text-xs xl:text-2xs 2xl:text-3xs 3xl:text-4xs 5xl:text-5xs 6xl:text-6xs;
}

@utility text-box {
  @apply text-2xl md:text-lg lg:text-lg xl:text-base 2xl:text-sm 5xl:text-2xs 6xl:text-4xs;
}

@utility text-box-sm {
  @apply text-xl md:text-lg lg:text-base xl:text-sm 2xl:text-xs 3xl:text-2xs 4xl:text-4xs 6xl:text-5xs;
}

@utility text-list-lg {
  @apply text-5xl md:text-4xl lg:text-3xl xl:text-2xl 3xl:text-xl 5xl:text-lg 6xl:text-base;
}

@utility text-tb-sm {
  @apply text-xl md:text-base lg:text-sm 2xl:text-xs 5xl:text-3xs 6xl:text-4xs;
}

:root {
    --r-main-font: "Poppins", sans-serif;
    --r-heading-font: "Open Sans", sans-serif;
    --r-heading1-size: 2em;
    --r-heading2-size: 1.875em;
    --r-heading3-size: 1.750em;
    --r-heading4-size: 1.625em;
    --r-heading5-size: 1.625em;

    font-size: calc(0.7em + 1vw);
}

/* Prevent uppcase */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal .title-md :is(h2, h3, h4, h5) { font-size: 1.375em;    }
.reveal .title-sm :is(h2, h3, h4, h5) { font-size: 1.250em;    }
.reveal .title-xs :is(h2, h3, h4, h5) { font-size: 1.125em;    }

/* ============================== */
/* Layout */
/* ============================== */
/* Slide content dimensions */
.h-slide{
    /* height: calc(var(--slide-height) * 1.0); */
    height: var(--slide-height);
}

.h-content      { height: calc(var(--slide-height) * 0.8);  }
.h-content-095   { height: calc(var(--slide-height) * 0.76); }
.h-content-09   { height: calc(var(--slide-height) * 0.72); }
.h-content-085  { height: calc(var(--slide-height) * 0.68); }
.h-content-08   { height: calc(var(--slide-height) * 0.64); }
.h-content-075  { height: calc(var(--slide-height) * 0.60); }
.h-content-07   { height: calc(var(--slide-height) * 0.56); }
.h-content-065  { height: calc(var(--slide-height) * 0.52); }
.h-content-06   { height: calc(var(--slide-height) * 0.48); }
.h-content-055  { height: calc(var(--slide-height) * 0.44); }
.h-content-05   { height: calc(var(--slide-height) * 0.4);  }
.h-content-045  { height: calc(var(--slide-height) * 0.36); }
.h-content-04   { height: calc(var(--slide-height) * 0.32); }
.h-content-035  { height: calc(var(--slide-height) * 0.28); }
.h-content-03   { height: calc(var(--slide-height) * 0.24); }
.h-content-025  { height: calc(var(--slide-height) * 0.20); }
.h-content-02   { height: calc(var(--slide-height) * 0.16); }
.h-content-015  { height: calc(var(--slide-height) * 0.12); }
.h-content-0125 { height: calc(var(--slide-height) * 0.10); }
.h-content-01   { height: calc(var(--slide-height) * 0.08); }
.h-content-0075 { height: calc(var(--slide-height) * 0.06); }

.max-h-content     { max-height: calc(var(--slide-height) * 0.8);  }
.max-h-content-08  { max-height: calc(var(--slide-height) * 0.64); }
.max-h-content-07  { max-height: calc(var(--slide-height) * 0.56); }
.max-h-content-065 { max-height: calc(var(--slide-height) * 0.52); }
.max-h-content-06  { max-height: calc(var(--slide-height) * 0.48); }
.max-h-content-055 { max-height: calc(var(--slide-height) * 0.44); }
.max-h-content-05  { max-height: calc(var(--slide-height) * 0.4);  }
.max-h-content-045 { max-height: calc(var(--slide-height) * 0.36); }
.max-h-content-04  { max-height: calc(var(--slide-height) * 0.32); }
.max-h-content-035 { max-height: calc(var(--slide-height) * 0.28); }
.max-h-content-03  { max-height: calc(var(--slide-height) * 0.24); }
.max-h-content-025 { max-height: calc(var(--slide-height) * 0.20); }
.max-h-content-02  { max-height: calc(var(--slide-height) * 0.16); }

.min-h-content     { min-height: calc(var(--slide-height) * 0.8);  }
.min-h-content-08  { min-height: calc(var(--slide-height) * 0.64); }
.min-h-content-07  { min-height: calc(var(--slide-height) * 0.56); }
.min-h-content-065 { min-height: calc(var(--slide-height) * 0.52); }
.min-h-content-06  { min-height: calc(var(--slide-height) * 0.48); }
.min-h-content-055 { min-height: calc(var(--slide-height) * 0.44); }
.min-h-content-05  { min-height: calc(var(--slide-height) * 0.4);  }
.min-h-content-045 { min-height: calc(var(--slide-height) * 0.36); }
.min-h-content-04  { min-height: calc(var(--slide-height) * 0.32); }
.min-h-content-035 { min-height: calc(var(--slide-height) * 0.28); }
.min-h-content-03  { min-height: calc(var(--slide-height) * 0.24); }
.min-h-content-025 { min-height: calc(var(--slide-height) * 0.20); }
.min-h-content-02  { min-height: calc(var(--slide-height) * 0.16); }

.w-slide { width: var(--slide-width);}
.w-slide-09  { width: calc(var(--slide-width)*0.9);  }
.w-slide-08  { width: calc(var(--slide-width)*0.8);  }
.w-slide-075 { width: calc(var(--slide-width)*0.75); }
.w-slide-07  { width: calc(var(--slide-width)*0.7);  }
.w-slide-065 { width: calc(var(--slide-width)*0.65); }
.w-slide-06  { width: calc(var(--slide-width)*0.6);  }
.w-slide-055 { width: calc(var(--slide-width)*0.55); }
.w-slide-05  { width: calc(var(--slide-width)*0.5);  }
.w-slide-049 { width: calc(var(--slide-width)*0.49); }
.w-slide-0475{ width: calc(var(--slide-width)*0.475);}
.w-slide-045 { width: calc(var(--slide-width)*0.45); }
.w-slide-04  { width: calc(var(--slide-width)*0.4);  }
.w-slide-0375{ width: calc(var(--slide-width)*0.375);}
.w-slide-035 { width: calc(var(--slide-width)*0.35); }
.w-slide-0325{ width: calc(var(--slide-width)*0.325);}
.w-slide-03  { width: calc(var(--slide-width)*0.3);  }
.w-slide-0275{ width: calc(var(--slide-width)*0.275);}
.w-slide-025 { width: calc(var(--slide-width)*0.25); }
.w-slide-02  { width: calc(var(--slide-width)*0.2);  }
.w-slide-015 { width: calc(var(--slide-width)*0.15); }
.w-slide-01  { width: calc(var(--slide-width)*0.10); }
.w-slide-005 { width: calc(var(--slide-width)*0.05); }

.max-w-slide     { max-width: var(--slide-width);}
.max-w-slide-08  { max-width: calc(var(--slide-width)*0.8);  }
.max-w-slide-075 { max-width: calc(var(--slide-width)*0.75); }
.max-w-slide-07  { max-width: calc(var(--slide-width)*0.7);  }
.max-w-slide-065 { max-width: calc(var(--slide-width)*0.65); }
.max-w-slide-06  { max-width: calc(var(--slide-width)*0.6);  }
.max-w-slide-055 { max-width: calc(var(--slide-width)*0.55); }
.max-w-slide-05  { max-width: calc(var(--slide-width)*0.5);  }
.max-w-slide-049 { max-width: calc(var(--slide-width)*0.49); }
.max-w-slide-0475{ max-width: calc(var(--slide-width)*0.475);}
.max-w-slide-045 { max-width: calc(var(--slide-width)*0.45); }
.max-w-slide-04  { max-width: calc(var(--slide-width)*0.4);  }
.max-w-slide-0375{ max-width: calc(var(--slide-width)*0.375);}
.max-w-slide-035 { max-width: calc(var(--slide-width)*0.35); }
.max-w-slide-0325{ max-width: calc(var(--slide-width)*0.325);}
.max-w-slide-03  { max-width: calc(var(--slide-width)*0.3);  }
.max-w-slide-0275{ max-width: calc(var(--slide-width)*0.275);}
.max-w-slide-025 { max-width: calc(var(--slide-width)*0.25); }
.max-w-slide-02  { max-width: calc(var(--slide-width)*0.2);  }
.max-w-slide-015 { max-width: calc(var(--slide-width)*0.15); }
.max-w-slide-01  { max-width: calc(var(--slide-width)*0.10); }
.max-w-slide-005 { max-width: calc(var(--slide-width)*0.05); }

.min-w-slide-08  { min-width: calc(var(--slide-width)*0.8);  }
.min-w-slide-075 { min-width: calc(var(--slide-width)*0.75); }
.min-w-slide-07  { min-width: calc(var(--slide-width)*0.7);  }
.min-w-slide-065 { min-width: calc(var(--slide-width)*0.65); }
.min-w-slide-06  { min-width: calc(var(--slide-width)*0.6);  }
.min-w-slide-055 { min-width: calc(var(--slide-width)*0.55); }
.min-w-slide-05  { min-width: calc(var(--slide-width)*0.5);  }
.min-w-slide-045 { min-width: calc(var(--slide-width)*0.45); }
.min-w-slide-04  { min-width: calc(var(--slide-width)*0.4);  }
.min-w-slide-0375{ min-width: calc(var(--slide-width)*0.375);}
.min-w-slide-035 { min-width: calc(var(--slide-width)*0.35); }
.min-w-slide-0325{ min-width: calc(var(--slide-width)*0.325);}
.min-w-slide-03  { min-width: calc(var(--slide-width)*0.3);  }
.min-w-slide-0275{ min-width: calc(var(--slide-width)*0.275);}
.min-w-slide-025 { min-width: calc(var(--slide-width)*0.25); }
.min-w-slide-02  { min-width: calc(var(--slide-width)*0.2);  }
.min-w-slide-015 { min-width: calc(var(--slide-width)*0.15); }
.min-w-slide-01  { min-width: calc(var(--slide-width)*0.10); }

/* ============================== */
/* Title slide customization */
/* ============================== */
.reveal #sec-title-slide {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.reveal #sec-title-slide .title{
    font-weight: 700;
}

.reveal #sec-title-slide .author{
    font-size: 1.5rem;
    font-weight: 400;
}

.reveal #sec-title-slide .date{
    font-size: 1rem;
    font-weight: 400;
}

.reveal section.notitle :is(h2, h3, h4, h5) {
    visibility: hidden;
}

/*********/
/* Lists */
/*********/
.reveal .flex-list {
    display: flex;
    flex-direction: column;
}

.reveal ul,
.reveal ol {
    padding: 0.5rem 0.5rem 0 1rem;
    margin-left: 0.625em;
    /* text-align: left; */
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    padding: 0 0 0 0.5rem;
    margin-left: 0.75em;
    /* text-align: left; */
}

.reveal ul.reset-list,
.reveal ol.reset-list {
    margin-left: 0;
    padding: 0.125rem 0 0.125rem 1.375rem;
    /* text-align: left; */
}

.reveal ul.lmargin,
.reveal ol.lmargin {
    padding: 1rem 0.5rem 0 2.125rem;
    margin-left: 0.625em;
    /* text-align: left; */
}

/*********************************/
/* Custom colors from javascript */
/*********************************/
.textCol-link { color: var(--r-link-color);}
/* .textCol-bg { color: var(--r-background-color);} */
/* .bg-colortheme { background-color: var(--r-main-color); } */

/* Backgrounds */
/* .bg-outer-box { background-color: var(--bg-outBox, var(--clr-ana-A-2)); } */
/* .bg-inner-box { background-color: var(--bg-innBox, var(--clr-grad-MainBg-2)); } */
/* .textCol { color: var(--clr-grad-A-5);} */

/* ============================== */
/* Figures' defaults*/
/* ============================== */
.reveal .figure img {
    margin: 0;
}

.reveal .figure p {
    display: flex;
    justify-content: center;
}

.reveal .figure-number {
    margin: 0 0.5em 0 0;
    font-weight: 700;
}

/********/
/* Code */
/********/
code {
    color: var(--clr-grad-LinkMain-4);
}
i.fa-solid {
   color: var(--clr-grad-LinkMain-4); 
}

/********************/
/* Source container */
/********************/
.reveal .org-src-container {
    width: 80%;
    margin: auto;
    border: 1px solid var(--clr-grad-LinkBg-3) ;
    border-radius: 10px;
    margin-top: 0.750em;
}
.reveal .org-src-container > pre {
    width: 97%;
    background-color: var(--clr-grad-MainBg-4);
    font-size: 1rem;
    line-height: 1.5; 
}

.reveal .org-src-name {
    font-size: 1.125rem;
}
/************/
/* Controls */
/************/
.reveal .controls   { font-size: 0.375rem;    }
.reveal .slide-menu-button  { font-size: 1.375rem !important;  }
#toggle-overview button { font-size: 1.375rem}

@media (min-width:2048px){
    #toggle-overview button { margin-left: 0.5rem;}
}

@media (min-width:3840px){
    #toggle-overview button { margin-left: 0.75rem;}
}

/*********/
/* Other */
/*********/
#outer-box-value,
#inner-box-value
{
  white-space: pre; /* preserves \n */
}

.checkedBox {
    border: var(--r-main-color) 0.075rem solid ;
    border-radius: 200px;
    background-color: var(--r-main-color);
    color: var(--r-link-color);
}
.color-option {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.color-option > i {
    flex: 0 0 auto;
}
